{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Todo {% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/jqtree.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
    
.jqtree-element.jqtree_common{
  background-color: #ffffff !important;
  border: 1px solid #dee2e6!important;
  margin: 11px 0px;
  border-radius: 10px;
  padding: 10px;
  border: solid 2px white;
}

ul.jqtree-tree li.jqtree-selected{
  background: none;
}

.jqtree-selected{
  background-color: #eeeeee;
  background: none;
}

.jqtree-title.jqtree_common{
  outline: none;
}

li ul.jqtree_common.jqtree-dnd{
  margin-left: 30px;
}


ul.jqtree-tree li.jqtree-selected > .jqtree-element,
    ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
        background-color: #eeeeee;
        background: linear-gradient(#f7f7f7, #eeeeee);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    }

</style>
{% endblock stylesheets %}

{% block content %}




<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">

                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->

                        <div class="row">

                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="table-responsive">
                                        <table class="table" style="width:100%">
                                            {% for item in weather_data %}
                                            <th style="text-align:center">
                                                <h6 class="mb-1">{{ item.0|date:"H:i" }}</h6>
                                                <img class="rounded-circle" style="width:90px;height:90px" src={{ item.3
                                                    }} alt="weather-icon">
                                                <h6 class="mb-1">{{ item.1 }}度、{{ item.2 }}</h6>
                                            </th>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <!-- [ Todo ] start -->

                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h5><b>To Do List</b></h5>
                                    </div>

                                    {% for message in messages %}
                                        <div class="alert alert-success alert-dismissible fade show mb-1" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        {{ message }}
                                        </div>
                                    {% endfor %}
                                    
                                 

                                    <div class="border m-3 p-3 radius-10 google-box">
                                        <form method="POST" action="{% url 'create-task' %}">
                                            {% csrf_token %}
                                            <p class="text-dark"><b>Add new task</b></p>
                                            <div class="row px-2">
                                                <div class="col-sm-7 px-2">
                                                    <div class="form-group mb-0">
                                                        <input type="text" name="parent_task" class="form-control bg-white" placeholder="Write here"  required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 px-2">
                                                    <div class="form-group bg-white">
                                                      <select class="form-control bg-white" name="due_date" id="" required>
                                                        <option value="">Select due time</option>
                                                        <option value="today">TODAY</option>
                                                        <option value="tomorrow">TOMORROW</option>
                                                        <option value="week">THIS WEEK</option>
                                                        <option value="later">LATER</option>
                                                      </select>
                                                    </div>
                                                    <!-- <div class="form-group mb-0">
                                                        <input type="date" name="due_date" id="due_date" class="form-control bg-white" required>
                                                    </div> -->
                                                </div>
                                                <div class="col-sm-1 px-2">
                                                    <button class="radius-100 p-0 m-0 border-0">
                                                        <i class="material-icons mk-pointer bg-primary text-white p-2 radius-100">add</i>
                                                    </button>
                                                    
                                                </div>
                                            </div>                                            
                                        </form>
                                    </div>

                                  


                                    <div class="border m-3 p-3 radius-10 google-box" style="min-height: 300px;">
                                        <p class="text-secondary"><b>Your tasks</b></p>

                                            <div id="sub-task-section" style="display: none;">
                                                <div
                                                    class="p-3 my-3 border radius-10" 
                                                    style="background-color: #eeeeee;">
                                                    <div class="row mb-3">
                                                        <div class="col-sm-11 d-flex align-items-center">
                                                            <h5 class="my-0" id="general-status-text"></h5>
                                                            <i class="material-icons text-info mx-2" style="font-size: 18px;">arrow_forward_ios</i>
                                                            <h5 class="my-0" id="short-text"></h5>
                                                            
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <i class="material-icons mk-pointer" id="cancel-sub-task">cancel</i>
                                                        </div>
                                                    </div>
                                                    <div class="row px-2 pb-0">
                                                        <div class="col-sm-10 px-2 pb-0">
                                                            <div class="form-group mb-0">
                                                                <input type="text" id="sub-task-text" class="form-control bg-white child_task_text"  placeholder="Add child task">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2 px-2  pb-0">
                                                            <button type="button" class="btn btn-primary btn-block" id="sub-task-submit">Add</button>
                                                        </div>
                                                    </div>   
                                                </div>

                                            </div>

                                            <div class="row mt-5 mb-5 pb-5 pt-3" id="no-task-warning" style="display: none; height: max-content;">
                                                <div class="col-sm-12 d-flex align-items-center justify-content-center">
                                                    <div class="alert alert-warning border mb-0" style="border-radius: 10px;" role="alert">
                                                        No task due right now!
                                                    </div>
                                                </div>
                                            </div>
                                        

                                            <div class="mb-4">
                                                <div id="my-new-tree">

                                                </div>
                                            </div>
                                         
                                        </div>




                                


                                </div>



                            </div>


                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h5><b>Progress</b></h5>
                                    </div>

                                    
                                
                                    <div class="border m-3 p-3 mb-0 radius-10 google-box">
                                     
                                        <p class="text-dark"><b>Task completion rate</b></p>
                                        {% if completion_rate %}
                                            <h1>{{ completion_rate }}</h1>
                                        {% else %}
                                            <div class="alert alert-warning border mb-0" style="border-radius: 10px;" role="alert">
                                                No task created yet!
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="border m-3 mt-0 p-3 radius-10 google-box">
                                        <p class="text-secondary mb-0"><b>Completed tasks</b></p>
                                        
                                        <div id="completed-task-container" style="height: 300px; overflow-y: auto;">
                                            {% for task in completed_tasks %}
                                                <div class="border mt-3 py-2 px-3 radius-10">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="d-flex align-items-center">
                                                                {% if task.status == 1 %}
                                                                    <i class="material-icons mk-pointer text-success" data-task-id="{{ task.id }}">check_box</i>
                                                                    <div class="mx-3">
                                                                        <p class="m-0 p-0" style="font-size: 16px; text-decoration: line-through;">{{ task.get_short_text }}</p>
                                                                    </div>                                                                        
                                                                {% else %}
                                                                    <i class="material-icons mk-pointer" data-task-id="{{ task.id }}">check_box_outline_blank</i>
                                                                    <div class="mx-3">
                                                                        <p class="m-0 p-0 my-2" style="font-size: 16px;">{{ task.text }}</p>
                                                                    </div>
                                                                {% endif %}
                                                                
                                                            </div>
                                                        </div>

                                                       
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            {% if not completed_tasks %}
                                                <div class="alert alert-warning border mb-0" style="border-radius: 10px;" role="alert">
                                                    No task completed yet!
                                                </div>
                                            {% endif %}
                                        </div>


                                    </div>




                                </div>



                            </div>
                        </div>

                        <!-- [ Todo ] end -->
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
    </div>
</section>



<!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<!-- todo js -->
<script src="/static/assets/plugins/todo/js/todo.js"></script>
<script src="{% static 'assets/js/tree.jquery.js' %}"></script>



<script>

    var my_data = {{ new_version | safe }}
    var my_parent_selected = null;
    var TOGGLE_TASK_URL = "{% url 'toggle-task' %}";
    var CREATE_CHILD_TASK = "{% url 'create-child-task' %}";
    var UPDATE_PRIORITY = "{% url 'update-priority' %}";
    var my_tree_data = {{ my_tree | safe }};

 
</script>

<script src="{% static 'assets/js/task.js' %}"></script>


<script>

    var $my_tree = $("#my-new-tree");
    $my_tree.tree({
        data: my_tree_data,
        dragAndDrop: true,
        autoOpen: true,
        closedIcon: $('<i class="material-icons">chevron_right</i>'),
        openedIcon: $('<i class="material-icons">expand_more</i>'),


        onCreateLi: function(node, $li, is_selected) {
    
            // Add 'icon' span before title
            $li.find(".jqtree-element .jqtree-title").attr("id", `title-${node.id}`);

            
            $li.find('.jqtree-element .jqtree-title').css({
                "width": "80%",
            });

            $li.find('.jqtree-element .jqtree-title').css("width", "86%")

            if (node.is_root) {
                $li.find('.jqtree-element .jqtree-title').css({
                    "font-weight": "bold",
                    "font-size": "20px",
                });
            }


            if (node.status == "DONE") {
                $li.find('.jqtree-element .jqtree-title').css("text-decoration", "line-through");

                $li.find('.jqtree-element').prepend(
                    `<div class="text-right" style="width:4%" class="edit">
                        <i class="material-icons done-icon text-success" data-general-status="${node.general_status}" data-task-id="${node.id}">check_box</i>
                    </div>`
                );
                $li.find('.jqtree-element').append(
                    `<div class="text-right" style="width:10%" class="edit">
                        <span class="task-badge DONE"  data-general-status="${node.general_status}" id="status_22">DONE</span>
                    </div>`
                );
            }else{
                if (!(node.is_root)) {
                    $li.find('.jqtree-element').prepend(
                        `<div class="text-right" style="width:4%" class="edit">
                            <i class="material-icons done-icon"  data-general-status="${node.general_status}" data-task-id="${node.id}">check_box_outline_blank</i>
                        </div>`
                    );

                    if (node.is_parent) {
                        $li.find('.jqtree-element').append(
                            `
                            <i 
                                data-task-id="${node.id}"
                                style="height: fit-content;"
                                data-general-status="${node.general_status}" 
                                class="material-icons mk-pointer bg-secondary text-white p-0 mr-2 radius-100 subtask-add">add</i>
                            `
                        );                            
                    }

                    $li.find('.jqtree-element').append(
                        `<div class="text-right" style="width:10%" class="edit">
                            <span class="task-badge TODO"  data-general-status="${node.general_status}" id="mystatus_${node.id}">TODO</span>
                        </div>`
                    );   
                }
            }

        
        },



        onCanMoveTo: function(moved_node, target_node, position) {
            console.log(position);

            if (moved_node.is_root) {
                return false;
            }else{
                if (moved_node.is_parent && position == "inside" && target_node.is_root) {
                    return true;
                }else if(moved_node.parent.name == target_node.parent.name && position != "inside"){
                    return true
                }else{
                    return false;
                }




                // if (moved_node.is_parent) {
                //     if (position != "inside" && target_node.is_parent == true) {
                //         return true;
                //     }
                //     return false;
                // }


                if (position == "inside") {
                    if (target_node.parent.name) {
                        return false;
                    } else {
                        if(target_node == moved_node.parent || target_node.parent == moved_node.parent){
                            return true
                        }else{
                            return false
                        }
                    }

                }else if (position == "after") {
                    if (target_node.parent.name) {
                        if (target_node.parent == moved_node.parent) {
                            return true;
                        }else{
                            return false;
                        }
                    }else{
                        return false;
                    }
                }

            }

            
        }
    
    
    
    });


    $my_tree.on('click', '.subtask-add', function (e) {
        let task_id = $(e.target).data('task-id');
        let general_status = $(e.target).data('general-status');

        // Get the node from the tree
        var node = $my_tree.tree('getNodeById', task_id);

        if (node) {
            my_parent_selected = node;
            $("#sub-task-text").val("");
            $("#general-status-text").text(node.general_status);
            $("#short-text").text(node.short_text);
            $("#sub-task-section").show();
        }

    });

    $my_tree.on( 'click', '.done-icon', function(e) {
        // Get the id from the 'node-id' data property

        let task_id = $(e.target).data('task-id');
        let general_status = $(e.target).data('general-status');

        // Get the node from the tree
        var node = $my_tree.tree('getNodeById', task_id);

        if (node) {
            // Display the node name
            $.ajax({
                url: TOGGLE_TASK_URL,
                type: "GET",
                data: {
                    task_id: task_id
                },
                success: (response)=>{
                    if (response.status) {
                        $(e.target).text("check_box");
                        $(e.target).addClass("text-success");
                        $(`#title-${task_id}`).css("text-decoration", "line-through");
                        $(`#mystatus_${task_id}`).attr("class", "task-badge DONE");
                        $(`#mystatus_${task_id}`).text("DONE");
                        

                        if (node.is_parent) {
                            setTimeout(() => {
                                $my_tree.tree('removeNode', node);
                            }, 1000);
                        }
                    }else{
                        alert(response.message);
                    }
                }
            });
        }
    });

 
    $("#sub-task-submit").on("click", function () {
        let new_sub_task = $("#sub-task-text").val();
        if (new_sub_task) {
                
            $.ajax({
                url: CREATE_CHILD_TASK,
                type: "GET",
                data: {
                    my_parent_task: my_parent_selected.id,
                    child_task_text: new_sub_task
                },
                success: (response)=>{

                    if (response.status) {

                        var parent_node = $my_tree.tree('getNodeById', my_parent_selected.id);
                        
                        $my_tree.tree(
                            'appendNode',
                            response.data,
                            parent_node
                        );
                        $my_tree.tree('openNode', parent_node, false);

                        reset_child_section();
                    
                    }else{
                        alert(response.message);
                    }
                }
            });
            
        }
    });


    setInterval(() => {
        $.ajax({
            url: UPDATE_PRIORITY,
            type: "GET",
            data: {
                'data': $my_tree.tree('toJson'),
            },
            success: (response)=>{
                if (response.status) {
                    console.log(response.message);
                }else{
                    alert(response.message)
                }
            }
        });
    }, 4000);


</script>


{% endblock javascripts %}